/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Manrope:wght@400;500&family=Montserrat&family=Open+Sans:wght@400;800&family=Poppins:wght@500&family=Roboto&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    width: 180px;
    height: 64px;
    cursor: pointer;
    border: 0;
}

.text-gray {
    color: #727272;
    font-weight: 400;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

/* header styles */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

ul li a {
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
}

.explore-btn {
    margin: 30px 0;
}

/* banner styles */
.banner-text-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-image-content img {
    width: 100%;
}

/* main styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 100px;
}

.teams-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-right: 70px;
}

.teams-content-title {
    font-size: 3rem;
    font-weight: 700;
}

.quick-list {
    color: #727272;
    font-weight: 500;
}

.of-our {
    color: #131313;
}

.text-features {
    color: #FF900E;
}

/* Facts styles */
.facts-card-container {
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;

}

.card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    /* width: 242px;
    height: 242px; */
    text-align: center;
    padding: 40px 50px;
    margin-bottom: 10px;
}

.card-stats {
    font-size: 2.8rem;
    color: #424242;
}

.card-title {
    font-weight: 600;
    font-size: 1.25rem;
}

/* sponsors style */
.sponsors {
    text-align: center;
}

.sponsors-image-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.sponsors-image-container img {
    width: 165px;
}

/* Responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-image-container {
        flex-direction: column;
    }
}

.teams-image-container {
    grid-template-columns: 1fr;
    margin-right: 0px;
}

/* medium or tablet devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .sponsors-image-container {
        flex-direction: column;
    }
}